version: 2.1

jobs:
  update_data:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install tweepy pillow pytz
            echo ${AUTH} | base64 --decode --ignore-garbage > auth.json
      - run:
          name: Update known tournaments
          command: |
            . venv/bin/activate
            python manage_known.py
      - run:
          name: Commit data back to Github
          command: |
            git config user.email "joaorbezerra@hotmail.com"
            git config user.name "tournamentapibot"
            DATE_TODAY=$(date +"%Y-%m-%d")
            git add .
            git commit -am "[skip ci] Updating Data ${DATE_TODAY}" || true
            git push origin master || true
      - run:
          name: Update data
          command: |
            . venv/bin/activate
            python main.py
      - run:
          name: Commit data back to Github
          command: |
            git config user.email "joaorbezerra@hotmail.com"
            git config user.name "tournamentapibot"
            DATE_TODAY=$(date +"%Y-%m-%d")
            git add .
            git commit -am "[skip ci] Fetch new data ${DATE_TODAY}" || true
            git push origin master || true
  run_week_tournaments:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install tweepy pillow pytz
            echo ${AUTH} | base64 --decode --ignore-garbage > auth.json
      - run:
          name: Run
          command: |
            . venv/bin/activate
            python week_tournaments.py
  run_week_clips:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            sudo apt-get install ffmpeg
            pip install tweepy pillow pytz moviepy python-dateutil
            echo ${AUTH} | base64 --decode --ignore-garbage > auth.json
      - run:
          name: Run
          command: |
            . venv/bin/activate
            python week_clips.py

workflows:
  daily_data_update:
    triggers:
      - schedule:
          cron: "0,15,30,45 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - update_data
  week_tournaments:
    triggers:
      - schedule:
          cron: "0 23 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - run_week_tournaments
  week_clips:
    triggers:
      - schedule:
          cron: "0 21 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - run_week_clips
